.relative-vehicle-position {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}

@media (width <= 800px) {
  .relative-vehicle-position {
    width: auto;
  }
}

@media (width >= 800px) {
  .relative-vehicle-position {
    width: 100%;
  }
}
