.relative-vehicle-position {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width <= 800px) {
  .relative-vehicle-position {
    width: auto;
  }
}

@media (width >= 800px) {
  .relative-vehicle-position {
    width: 100%;
  }
}
