.separation {
  display: flex;
  align-items: center;
  margin: 16px 0;

  hr {
    width: 40%;
    height: 0;
  }
}

.search-block {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 16px;

  .flex-grow {
    flex-grow: 1;
  }
}

@media (width <= 390px) {
  .search-block button {
    width: 100%;
  }
}
