.countdown-sec {
  padding: 0 4px;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.arriving {
  align-self: center;
}

.number {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  white-space: nowrap !important;
}

/* only needed for safari */
.badge-in-link {
  width: auto !important;
  padding: 3px 6px !important;
}
