.nearby {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .nearby-controls {
    display: flex;
    gap: 1rem;

    .spinner {
      width: 2rem;
      height: 2rem;
      aspect-ratio: 1 / 1;
    }
  }
}
