.favorite-eta {
  display: flex;
  flex-direction: column;
  gap: 12px;

  ul {
    display: grid;
    padding-left: 0;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 24px;
    margin: 20px 0;
  }
}

@media (width <= 800px) {
  .favorite-eta ul {
    grid-template-columns: auto;
  }
}
