.tablist {
    overflow-y: scroll;
}

.title {
    display: flex;
    gap: 1rem;
    align-items: baseline;

    .dropdown.dropdown {
        /* override theme */
        min-width: max-content;
    }
}
