.skeet-list {
  padding-left: 0;

  &.compact {
    height: 6rem;
    overflow-x: scroll;
    box-shadow: inset 0 -15px 10px -15px var(--colorBrandForegroundLink);
  }

  li {
    list-style-type: none;
  }
}
