.badge-group {
  padding-right: 8px;
  display: grid;
  gap: 4px;
  grid-template-rows: repeat(3, 1fr);
  height: fit-content;

  &.overflow {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-auto-flow: unset;
  }
}

.grid-item {
  grid-area: 1 / 1;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.edit-button {
  grid-area: 1 / 1;
  min-height: 32px;
  min-width: 32px;
  position: relative;
  top: -16px;
  right: -16px;
  place-self: flex-start flex-end;
  border-radius: 50% !important;
}

.eta-card-countdown {
  min-width: max-content;

  & > * {
    flex-wrap: wrap;
    float: right;
    width: min-content;
  }
}

.bookmarked-stop {
  color: var(--colorBrandForegroundLink);
  cursor: pointer;
  text-decoration: none;
}

.clickable-card:hover {
  background-color: var(--colorNeutralBackground2);
}

.remove-button {
  border-radius: 50% !important;
  position: absolute;
  top: -16px;
  right: 16px;
}

.multi-line {
  white-space: pre-line;

  .direction-badges {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-right: 4px;
  }
}
