.next-vehicle-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadiusXLarge);
  overflow: hidden;
  border: black solid 8px;
  max-width: min(100%, 30rem);
  margin: auto;

  .title {
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
    min-width: fit-content;

    button {
      position: absolute;
      right: 0;
    }
  }

  span {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }

  input {
    /* -webkit-appearance: textfield; */
    appearance: textfield;
    font-size: x-large;
    padding: 1rem 0;
  }

  .center-input {
    flex-grow: 1;

    input {
      text-align: center;
      width: 100%;
    }
  }

  .submit-button {
    background-color: black;

    .subtle-search {
      max-width: 100%;
      width: 100%;
    }
  }

  &.compact {
    flex-direction: unset;
    gap: 1ch;
    background-color: black;

    .title {
      padding: 0;

      span {
        font-size: unset;
      }
    }

    input {
      padding: unset;
      background-color: var(--colorNeutralBackground1);
    }

    .submit-button button {
      height: 100%;
    }
  }
}
