body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: var(--colorNeutralBackground2);
}

.bottomNav ul {
  padding: 4px 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin: 0px;
}

.bottomNav a {
  display: flex;
  align-items: center;
}

.sideNav {
  background-color: var(--colorNeutralBackground2);
}

.langSelect {
  color: black;
}

.stopPredictionPage,
.homePage,
.linePage,
.aboutPage {
  margin: 16px 32px 80px 32px;
  padding: 0px;
}

.aboutPage .linkButton {
  padding: 0px 8px;
}

.navBar {
  padding: 16px 16px 0px 0px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.lineDetails {
  margin-top: auto;
  margin-bottom: auto;
}

.rawResponseDetails {
  display: flex;
  gap: 16px;
}

.linePageInputForm {
  display: contents;
}

.linePageReminder {
  margin-bottom: 16px;
}

.routerLink .appTitle {
  overflow: hidden;
  white-space: nowrap;
}

.bookmarkedStop {
  color: var(--colorBrandForegroundLink);
  cursor: pointer;
}

.navBar > a {
  padding: 0px 32px;
}

main {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.countdownListContainer ul,
.stopsListContainer ul,
.bookmarkContainer ul,
.bottomNav ul,
.sideNav ul {
  padding-left: 0px;
  list-style-type: none;
}

*[role="checkbox"] {
  display: none;
}

.searchBlock {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 16px;
}

.stopsListContainer {
  display: flex;
  flex-direction: column;
}

.countdownListContainer li {
  margin-top: 32px;
}

.countdownRow {
  display: flex;
  align-items: center;
}

.countdownButtonGroup {
  margin: 8px 0px 0px 0px;
}

.countdownSec {
  padding: 0px 4px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.badge.arriving {
  align-self: center;
}

.stopPredictionDetails {
  display: flex;
  flex-direction: column;
}

.bookmarkContainer ul {
  display: grid;
  gap: 24px;
  margin: 0px;
}

.bookmarkContainer {
  margin-top: 32px;
}

.bookmarkContainer .bookmarkClearButton {
  margin-top: 32px;
  width: 100%;
}

.bookmarkContainer ul .cardContainer {
  overflow: unset;
  padding: 8px 16px 16px 16px;
}

/* .bookmarkContainer ul a, */
.bottomNav a,
.sideNav a,
.settingsPage a,
.routerLink {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
}

@media screen and (min-width: 800px) {
  .homePage {
    width: 50%;
  }

  .container {
    flex-direction: row;
  }

  .navBar {
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--colorNeutralBackground2);
  }

  .sideNav button {
    padding-left: 32px;
    justify-content: left;
  }
}

@media screen and (max-width: 390px) {
  .searchBlock button {
    width: 100%;
  }
}
