body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: var(--colorNeutralBackground2);
}

.bottomNav ul {
  padding: 4px 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin: 0px;
}

.bottomNav a {
  display: flex;
  align-items: center;
}

.sideNav {
  background-color: var(--colorNeutralBackground2);
}

.langSelect {
  color: black;
}

.stopPredictionPage,
.homePage,
.linePage,
.settingsPage,
.aboutPage {
  margin: 16px 32px 80px 32px;
  padding: 0px;
  width: auto;
}

.aboutPage .linkButton {
  padding: 0px 8px;
}

.aboutPage > *,
.settingsPage > * {
  padding-bottom: 16px;
}

.navBar {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.navBar > a {
  padding: 0px 32px;
}

.lineDetails {
  margin-top: auto;
  margin-bottom: auto;
}

.rawResponseDetails {
  display: flex;
  gap: 16px;
}

.routerLink .appTitle {
  overflow: hidden;
  white-space: nowrap;
}

.bookmarkedStop,
.routeCard {
  color: var(--colorBrandForegroundLink);
  cursor: pointer;
  text-decoration: none;
}

main {
  padding: 0px 16px 16px 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.countdownListContainer ul,
.stopsListContainer ul,
.bookmarkContainer ul,
.bottomNav ul,
.sideNav ul,
.linePage ul {
  padding-left: 0px;
  list-style-type: none;
}

.routeList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.routeList li {
  width: 100%;
}

*[role="checkbox"] {
  display: none;
}

.searchBlock {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 16px;
}

.stopsListContainer {
  display: flex;
  flex-direction: column;
}

.countdownListContainer .stopPredictionDetails {
  margin-top: 32px;
}

.countdownRow {
  display: flex;
  align-items: center;
}

.countdownButtonGroup {
  margin: 8px 0px 0px 0px;
}

.countdownSec {
  padding: 0px 4px;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.badge.arriving {
  align-self: center;
}

.stopPredictionDetails {
  display: flex;
  flex-direction: column;
}

.bookmarkContainer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 24px;
  margin: 32px 0;
}

.bookmarkContainer .bookmarkClearButton {
  margin-bottom: 32px;
  width: 100%;
}

.bookmarkContainer ul .cardContainer {
  overflow: unset;
  padding: 8px 16px 16px 16px;
}

/* .bookmarkContainer ul a, */
.bottomNav a,
.sideNav a,
.settingsPage a,
.routerLink,
.countdownRow a,
.bookmarkContainer a {
  text-decoration: none;
}

.etaCardCountdown > * {
  flex-wrap: wrap;
  float: right;
}

pre {
  white-space: pre-wrap;
}

.routeCard {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 800px) {
  .homePage {
    width: 100%;
  }

  .container {
    flex-direction: row;
  }

  .navBar {
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--colorNeutralBackground2);
  }

  .sideNav button {
    padding-left: 32px;
    justify-content: left;
  }

  .routeList li {
    min-width: 300px;
    width: auto;
  }

  .etaCardCountdown {
    min-width: 160px;
  }

  .etaCardCountdown > * {
    flex-wrap: nowrap;
  }
}

@media (max-width: 800px) {
  .bookmarkContainer ul {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 390px) {
  .searchBlock button {
    width: 100%;
  }

  .bookmarkedStop .badgeGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .bookmarkedStop .badgeGroup > * {
    margin: 0;
  }
}
