body {
  height: 100vh;
  text-align: center;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.jumpbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  display: flex;
  top: 0.5rem;
  list-style: none;
  justify-content: center;
  padding: 1rem 0;
}

/* .bookmarkContainer ul a, */
a {
  text-decoration: none;
}

.navBar > a {
  padding: 0 32px;
}

.jumpbar a {
  padding: 1rem 0.5rem;
  background-color: var(--colorNeutralBackground2);
}

.jumpbar li:first-of-type a {
  border-radius: var(--borderRadiusXLarge) 0 0 var(--borderRadiusXLarge);
}

.jumpbar li:last-of-type a {
  border-radius: 0 var(--borderRadiusXLarge) var(--borderRadiusXLarge) 0;
}

/* .bottomNav a, */
.yrt .lineTitle {
  display: flex;
  align-items: center;
}

.langSelect {
  color: black;
}

.stopPredictionPage,
.homePage,
.linePage,
.aboutPage,
.container.yrt {
  margin: 16px 32px 80px;
  padding: 0;
  width: auto;
  padding-bottom: env(safe-area-inset-bottom);
}

.homePage {
  gap: 12px;
}

.aboutPage .linkButton {
  padding: 0 8px;
}

.aboutPage > * {
  padding-bottom: 16px;
}

.navBar {
  padding: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}

.lineDetails {
  margin-top: auto;
  margin-bottom: auto;
}

.routerLink .appTitle {
  overflow: hidden;
  white-space: nowrap;
}

.etaCardStopInfo,
.routeCard {
  color: var(--colorBrandForegroundLink);
  cursor: pointer;
  text-decoration: none;
}

main {
  padding: 0 32px 16px;
  display: flex;
  flex-direction: column;
}

.countdownListContainer,
.bookmarkContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.countdownListContainer ul {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.countdownListContainer ul,
.stopsListContainer ul,
.bookmarkContainer ul {
  padding-left: 0;
  list-style-type: none;
}

.routeList {
  display: grid;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.routeList li {
  scroll-snap-margin-top: 4rem;
  scroll-margin-top: 4rem;
}

*[role="checkbox"] {
  display: none;
}

.stopsListContainer {
  display: flex;
  flex-direction: column;
}

.countdownButtonGroup {
  display: flex;
  gap: 10px;
}

.bookmarkContainer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 24px;
  margin: 20px 0;
}

.bookmarkContainer li {
  display: flex;
  flex-direction: column;
}

.bookmarkContainer .bookmarkClearButton {
  margin-bottom: 32px;
  width: 100%;
}

.bookmarkContainer ul .cardContainer {
  overflow: unset;
  padding: 8px 16px 16px;
}

pre {
  white-space: pre-wrap;
}

.routeCard {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemInfoPlaceholder {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (width >= 800px) {
  .linePage,
  .homePage,
  .container.yrt,
  .container.yrt article {
    width: 100%;
  }

  .container {
    flex-direction: row;
  }

  .navBar {
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--colorNeutralBackground2);
  }
}

@media (width <= 800px) {
  .bookmarkContainer ul,
  .routeList {
    grid-template-columns: auto;
  }
}
