html,
body,
#root,
#root > * {
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav-buffer {
  height: 4rem;
}

.bottomNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  background-color: #292929;
  background-color: var(--colorNeutralBackground1);
}

.bottomNav .fui-Button__icon {
  margin-right: 0;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}

.langSelect {
  color: black;
}

.title {
  border: 1px solid transparent;
}

.title:hover {
  border: 1px solid hsl(0, 0%, 82%);
}

.navBar {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.navBar > a {
  padding: 0 1rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

*[role="checkbox"] {
  display: none;
}

.searchBlock {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.countdown-row {
  display: flex;
  align-items: center;
}

.countdownSec {
  padding: 0 0.25rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.badge.arriving {
  align-self: center;
}

.line {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.bookmarks {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}

.card-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.2rem;
}

.card-row > :last-child {
  margin-left: auto;
}

pre {
  white-space: pre-wrap;
}
