body {
  height: 100vh;
  text-align: center;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* .bookmark-container ul a, */
a {
  text-decoration: none;
}

.nav-bar {
  padding: 16px 16px 0 0;
  display: flex;
  flex-direction: column;

  > a {
    padding: 0 32px;
  }
}

.jumpbar {
  position: sticky;
  z-index: 5;
  display: flex;
  top: 0.5rem;
  list-style: none;
  justify-content: center;
  padding: 1rem 0;

  a {
    padding: 1rem 0.5rem;
    background-color: var(--colorNeutralBackground2);
  }

  li:first-of-type a {
    border-radius: var(--borderRadiusXLarge) 0 0 var(--borderRadiusXLarge);
  }

  li:last-of-type a {
    border-radius: 0 var(--borderRadiusXLarge) var(--borderRadiusXLarge) 0;
  }
}

/* .bottomNav a, */
.yrt .line-title {
  display: flex;
  align-items: center;
}

.stop-prediction-page,
.home-page,
.line-page,
.about-page,
.container.yrt {
  margin: 16px 32px 80px;
  padding: 0;
  width: auto;
  padding-bottom: env(safe-area-inset-bottom);
}

.home-page {
  gap: 12px;
}

.about-page {
  > * {
    padding-bottom: 16px;
  }

  .link-button {
    padding: 0 8px;
  }
}

.line-details {
  margin-top: auto;
  margin-bottom: auto;
}

.router-link .app-title {
  overflow: hidden;
  white-space: nowrap;
}

.route-card {
  color: var(--colorBrandForegroundLink);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

main {
  padding: 0 32px 16px;
  display: flex;
  flex-direction: column;
}

.countdown-list-container,
.bookmark-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.countdown-list-container ul {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.countdown-list-container ul,
.stop-prediction-page ul,
.bookmark-container ul {
  padding-left: 0;
  list-style-type: none;
}

.route-list {
  display: grid;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

  li {
    scroll-snap-margin-top: 4rem;
    scroll-margin-top: 4rem;
  }
}

*[role="checkbox"] {
  display: none;
}

.stop-prediction-page {
  display: flex;
  flex-direction: column;
}

.countdown-button-group {
  display: flex;
  gap: 10px;
}

.bookmark-container {
  margin-top: 1rem;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 24px;
    margin: 20px 0;

    .card-container {
      overflow: unset;
      padding: 8px 16px 16px;
    }
  }

  li {
    display: grid;
  }

  .bookmark-clear-button {
    margin-bottom: 32px;
    width: 100%;
  }
}

pre {
  white-space: pre-wrap;
}

.item-info-placeholder {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (width >= 800px) {
  .line-page,
  .home-page,
  .container.yrt,
  .container.yrt article {
    width: 100%;
  }

  .container {
    flex-direction: row;
  }

  .nav-bar {
    width: fit-content;
    background-color: var(--colorNeutralBackground2);
  }
}

@media (width <= 800px) {
  .bookmark-container ul,
  .route-list {
    grid-template-columns: auto;
  }

  main {
    margin-bottom: 80px;
  }
}
