html,
body,
#root,
#root > * {
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav-buffer {
  height: 2rem;
}

.bottomNav {
  padding: 10px;
  margin-top: auto;
  align-self: center;
  position: fixed;
  bottom: 0;
  background-color: black;
}

.bottomNav a {
  padding: 0 10px;
  border-radius: 2rem;
}

.bottomNav > .active {
  background-color: hsl(0, 0%, 76%);
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}

.title {
  border: 1px solid transparent;
}

.title:hover {
  border: 1px solid hsl(0, 0%, 82%);
}

.navBar {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.container > :nth-child(2) {
  max-width: 50rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

*[role="checkbox"] {
  display: none;
}

.searchBlock {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.countdown-row {
  display: flex;
  align-items: center;
}

.countdownSec {
  padding: 0 0.25rem;
}

.line {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.bookmarks {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}
