body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.nav-buffer {
  height: 4rem;
}

.directionsList > span {
  padding-bottom: 4px;
}

.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: var(--colorNeutralBackground2);
  padding: 4px 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.bottomNav a {
  display: flex;
  align-items: center;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorNeutralBackground2);
  height: 100%;
}

.langSelect {
  color: black;
}

.homePage {
  padding-top: 0px;
}

.linePage {
  padding-left: 32px;
}

.aboutPage {
  padding-left: 32px;
}

.aboutPage .linkButton {
  padding: 0 0.5rem;
}

.stopPredictionPage {
  padding-left: 32px;
}

.navBar {
  padding: 1rem 1rem 0 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.lineDetails {
  margin-top: auto;
  margin-bottom: auto;
}

.rawResponseDetail {
  display: flex;
  gap: 1rem;
}

.lineTitle {
  padding-left: 16px;
}

.appTitle {
  padding-left: 32px !important;
}

.bookmarkedStop {
  color: var(--colorBrandForegroundLink);
  cursor: pointer;
  margin: auto 8px auto 4px;
}

.bookmarkedStop span {
  white-space: nowrap;
}

.navBar > a {
  padding: 0 1rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

*[role="checkbox"] {
  display: none;
}

.searchBlock {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.countdown-row {
  display: flex;
  align-items: center;
}

.countdownSec {
  padding: 0 0.25rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.badge.arriving {
  align-self: center;
}

.line {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.bookmarks {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}

.card-row {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 36px;
}

.bookmarks a,
.bottomNav a,
.sideNav a,
.routerLink {
  text-decoration: none;
}

.card-row > :last-child {
  margin-left: auto;
}

pre {
  white-space: pre-wrap;
}

@media screen and (min-width: 800px) {
  .homePage {
    width: 560px;
  }

  .container {
    flex-direction: row;
  }
  .navBar {
    min-width: 14rem;
    background-color: var(--colorNeutralBackground2);
  }
  main {
    padding-top: 2rem !important;
  }
  .sideNav button {
    padding-left: 32px;
    justify-content: left;
  }
}
