nav {
  background-color: var(--colorNeutralBackground2);

  ul {
    padding: 4px 0;
    display: grid;
    grid-auto-columns: 1fr;
    margin: 0;
    list-style-type: none;
  }

  .bottom-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: env(safe-area-inset-bottom);

    ul {
      grid-auto-flow: column;
    }
  }

  .side-nav {
    ul {
      grid-auto-flow: row;
    }

    button {
      padding-left: 32px;
      justify-content: left;
    }
  }
}
